<h1>Dashbaord</h1>

<p>
  <strong>Account:</strong>
  <%= @account.account_id %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<h2>Transactions</h2>

<%= render 'bank/transactions/transactions', transactions: @account.transactions %>